html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
}

.catalog-menu, .form, .help, .popup, .cart .cart-products, .button-cart {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"] .visually-hidden, input[type="radio"] .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
}

a {
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.index-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/slide-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.catalog-wrapper {
    min-width: 940px;
    background-color: #849d8f;
}

.site-wrapper-catalog {
    background-color: #849d8f;
}

.site-wrapper::before, .site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    content: "";
    background-image: url("img/slide-2.png");
}

.site-wrapper::after {
    content: "";
    background-image: url("img/slide-3.png");
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.main-navigation li {
    padding: 0;
    padding-top: 2px;
}

.main-header-logo {
    width: 154px;
    height: 64px;
    margin: 0;
    margin-top: 10px;
    margin-right: 12px;
}

.site-navigation {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 450px;
}

.user-navigation {
    display: flex;
    align-items: center;
    /* margin: 0;
    padding: 0; */
    width: auto;
    justify-content: flex-end;
    margin-top: 18px;
    margin-left: auto;
    position: relative;
}

.site-navigation a {
    display: block;
    padding: 8px 13px;
    margin-top: 22px;
}

.user-navigation li {
    display: block;
    /* padding: 15px 0; */
    margin-left: 10px;
}

.breadcrumbs {
    display: flex;
    width: 267px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 97px;
}

.heading {
    line-height: 16px;
    font-weight: 400;
}

.breadcrumbs li {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 12px;
}

.breadcrumbs a.active {
    text-decoration: none;
    background-color: transparent;
}

.breadcrumbs a.active:hover {
    background-color: transparent;
    color: #ffffff;
}

.breadcrumbs li:not(:last-child)::after {
    content: "»";
    position: relative;
    left: 4px;
}

.working-hours-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    width: 250px;
    margin-left: auto;
}

.working-hours {
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    margin-bottom: 5px;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
    list-style: none;
}

.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: -45px auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slide {
    display: none;
}

.button {
    display: inline-block;
    padding: 12px 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 21px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: rgb(248, 247, 244, 0.4);
}

#product-1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slide-1.png");
}

#product-2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slide-2.png");
}

#product-3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slide-3.png");
}

#product-1:checked~.site-wrapper #slide1, #product-2:checked~.site-wrapper #slide2, #product-3:checked~.site-wrapper #slide3 {
    display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"], #product-2:checked~.site-wrapper label[for="product-2"], #product-3:checked~.site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-2:checked #product-3 {
    position: relative;
}

.search button {
    position: relative;
    top: 2px;
    left: 0;
    background: rgb(255, 255, 255, 0.4) url("../img/search.svg") no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.search button:hover {
    position: relative;
    top: 2px;
    left: 0;
    background: #fff url("../img/search-hover.svg") no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.user-navigation .login-link, .user-navigation .cart {
    position: relative;
}

.login-link button, .cart button {
    width: 94px;
    height: 30px;
    padding: 0;
    padding-right: 17px;
    border-radius: 30px;
}

.login-link button::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 17px;
    background: url("../img/entry.svg") no-repeat;
    width: 21px;
    height: 21px;
}

.login-link button:hover::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 17px;
    background: url("../img/entry-hover.svg") no-repeat;
    width: 21px;
    height: 21px;
}

.cart button::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 16px;
    background: url("../img/cart.svg") no-repeat;
    width: 21px;
    height: 21px;
}

.cart button:hover::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 16px;
    background: url("../img/cart-hover.svg") no-repeat;
    width: 21px;
    height: 21px;
}

.cart button {
    width: 100px;
}

.cart-full button {
    width: 115px;
    color: #323232;
    background-color: #ffffff;
}

.cart-full .small-button::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 16px;
    background: url("../img/cart-full.svg") no-repeat;
    width: 21px;
    height: 21px;
}

.form-control input::placeholder, .form-control textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.main-navigation li, .main-footer li {
    list-style: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 18px;
}

.site-navigation a:hover, .user-navigation a:hover {
    color: #333333;
    background-color: #ffffff;
}

.site-navigation a:hover {
    border-radius: 25px;
    text-decoration: none;
}

.site-navigation a:hover:active {
    box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog, .login-form, .search-form, .popup-form {
    background-color: #f8f7f4;
}

.catalog-menu a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    text-decoration: none;
}

.catalog-menu .new {
    font-weight: 700;
}

.catalog-menu a:hover {
    background-color: #fbded7;
}

.catalog-menu a:active {
    background-color: #f6b5a5;
}

.site-navigation .active, .current .active {
    color: #ffffff;
    background-color: #d07058;
}

.form-control input, .form-control textarea {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
    border: 0;
    box-shadow: 0px 0px 0px 1px #b2b2b2;
}

.form-control input:focus, .form-control textarea:focus, .form-control input:hover:focus, .form-control textarea:hover:focus {
    box-shadow: 0px 0px 0px 2px #2e88e4;
}

.form-control input:hover, .form-control textarea:hover {
    box-shadow: 0px 0px 0px 2px #9a9a9a;
}

.small-button {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: right;
    background-color: rgb(255, 255, 255, 0.4);
    border: none;
    cursor: pointer;
}

.small-button:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.help a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
}

.cart p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}

.cart-products {
    width: 539px;
    height: 242px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart-products span {
    opacity: 0.4;
}

.cart-products p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    text-align: right;
}

.button-free, .button-quick-view, .button-mailing, .button-contacts {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    padding: 5px 9px;
}

.free-raspberry .button {
    width: 150px;
    margin-left: auto;
    margin-top: 26px;
}

.free-chocolate .button {
    width: 171px;
    margin-left: auto;
    margin-top: 26px;
}

.free-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.free li {
    display: flex;
    flex-direction: column;
    width: 520px;
    min-height: 190px;
    border-radius: 15px;
    padding: 20px;
}

.free-raspberry {
    background-image: url("../img/raspberries.jpg");
    background-repeat: no-repeat;
}

.free-chocolate {
    background-image: url("../img/chocolate.jpg");
    background-repeat: no-repeat;
}

.free-raspberry h2, .free-chocolate h2, .site-container h2, .container h2 {
    font-size: 35px;
    line-height: 41px;
}

.free-raspberry h2, .free-chocolate h2 {
    margin: -4px;
    padding: 0;
}

.free p {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin-top: 20px;
}

.free-raspberry a, .free-chocolate a {
    margin: 0;
    margin-left: auto;
    margin-top: 43px;
}

/* catalog, hit */

.price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    word-spacing: -7px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    margin: 0;
    margin-right: auto;
    margin-top: -57px;
}

.price span {
    font-size: 30px;
    line-height: 45px;
}

.description {
    font-weight: 500;
    margin: 0;
    margin-top: 21px;
}

.description:hover, .description:active {
    color: #ffbc9e;
}

/* .catalog-list li:hover {
background-color: rgba(155, 175, 163, 0.4);
} */

.catalog-ice-cream {
    margin: 0;
    margin-bottom: 37px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 267px;
    height: auto;
    text-align: center;
}

.quick-view {
    position: absolute;
    height: 405px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 0;
    display: none;
}

.catalog-item:hover .quick-view {
    display: block;
    position: absolute;
    top: -4px;
    left: -12px;
    width: 293px;
}

.catalog-hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/hit.svg") no-repeat;
    width: 62px;
    height: 62px;
}

.button-quick-view {
    width: 181px;
    position: absolute;
    bottom: 21px;
    left: 48px;
    font-weight: 500;
}

.catalog-list img {
    width: 267px;
    border-radius: 50%;
}

.shop-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    /* padding: 0px 10px; */
    width: 100%;
    min-height: 305px;
}

.shop {
    background-image: url("../img/waffle.jpg");
    color: #333333;
    font-weight: 400;
    border-radius: 15px;
    margin-bottom: 41px;
}

.shop h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    /* padding-left: 10px;
    padding-top: 22px; */
    margin: 26px 0 0 20px;
}

.shop-icon {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    /* margin: 18px 0; */
}

.shop-icon li {
    width: 488px;
    position: relative;
    padding-left: 64px;
    margin: 21px 0 0 12px;
}

.ice-cream-icon::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 9px;
    background: url(../img/ice-cream-icon.svg) no-repeat;
    width: 50px;
    height: 50px;
}

.leaf-icon::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 9px;
    background: url(../img/leaf-icon.svg) no-repeat;
    width: 50px;
    height: 50px;
}

.cow-icon::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 9px;
    background: url(../img/cow-icon.svg) no-repeat;
    width: 50px;
    height: 50px;
}

.thermometer::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 9px;
    background: url(../img/thermo.svg) no-repeat;
    width: 50px;
    height: 50px;
}

.article-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
    height: 223px;
}

.new-blog {
    background-image: url("../img/strawberry.jpg");
    background-repeat: no-repeat;
    background-position: -52px -224px;
    color: #323232;
    width: 560px;
    height: 220px;
    border-radius: 15px;
    padding: 23px 240px 20px 18px;
    box-sizing: border-box;
}

.new-blog h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
    margin: 0;
}

.new-blog a {
    display: block;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    padding-top: 3px;
}

.mailing {
    background: url("../img/postbox.svg") no-repeat;
    width: 560px;
}

.mailing-fon {
    background-color: #f8f7f4;
    width: 507px;
    height: 185px;
    margin: 6px;
    padding: 12px 20px;
    border-radius: 15px;
}

.mailing p {
    color: #5a5a5a;
    font-weight: 400;
    margin-bottom: 37px;
}

.form-control-mailing {
    display: flex;
    justify-content: space-between;
}

.form-control-mailing input {
    width: 352px;
    height: 40px;
    padding-left: 14px;
    border-radius: 4px;
}

.form-control-mailing button {
    width: 127px;
    margin-top: -2px;
}

.map {
    min-height: 430px;
}

.map-wrapper img {
    width: 100%;
    margin-bottom: -373px;
    height: 430px;
}

.map .container {
    display: flex;
    justify-content: flex-end;
}

.contacts {
    width: 250px;
    height: 255px;
    background-color: #fbfbfb;
    border-radius: 15px;
    margin: 0px;
    padding: 25px 27px;
}

.contacts p {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

.contacts .contacts-title {
    margin-top: 3px;
}

.contacts .contacts-bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.contacts .contacts-address {
    margin-top: 2px;
}

.contacts .contacts-subtitle {
    margin-top: 17px;
}

.contacts .contacts-tel {
    margin-top: 5px;
}

.button-contacts {
    width: 232px;
    margin-top: 26px;
}

/* footer */

.main-footer .container {
    margin: 0 auto;
    padding: 0 27px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.footer-social ul {
    display: flex;
    justify-content: space-between;
    width: 188px;
    padding: 0;
    margin: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #e6ebe9;
    width: 32px;
    height: 32px;
    border: 4px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-button:hover {
    border: 4px solid rgb(255, 255, 255);
}

.links {
    position: relative;
    width: 380px;
}

.documents {
    display: flex;
    flex-wrap: wrap;
    width: 306px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
}

.documents li {
    min-width: 120px;
}

.documents li:nth-of-type(2n) {
    margin-left: 21px;
    margin-top: 2px;
}

.documents .provider {
    position: relative;
    font-weight: 700;
}

.provider::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -23px;
    background: url(../img/heart.svg) no-repeat;
    width: 18px;
    height: 15px;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    width: 190px;
}

.copyright a {
    margin-bottom: -11px;
}

.copyright p {
    margin: 0;
    margin-bottom: 25px;
}

.copyright img {
    position: relative;
    right: -1px;
    top: -16px;
}

.popup h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

/* filters */

.header-wrapper h2 {
    margin: 0;
}

/* .container h2 {
margin-bottom: 17px;
} */

.filters-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 854px;
}

/* .heading .sort {
width: 195px;
}

.heading .fond {
width: 220px;
} */

.filters {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.filter-input:disabled+label {
    opacity: 0.4;
}

.filters fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filter .heading {
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 10px;
}

.sort {
    color: #ffffff;
    background-color: #a9b9af;
}

.sort:hover {
    color: #323232;
}


.range-filter {
    width: 260px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    margin:0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right:20px;
    background-color: rgba(255, 255, 255, 0.4);
    width:222px;
    border-radius: 20px;
}


.range-controls .scale {
    height: 4px;
    background: #d1dad3;
}

.range-controls .bar {
    width: 70%;
    height: 4px;
    background: #fff;
}

.range-controls .toggle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    background: url(../img/filter-button.svg) no-repeat;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    top: -5px;
    left:0;    
    height: 26px;
    width: 26px;
    background: url(../img/radio-off.svg) no-repeat;    
    /* background-color: yellow; */
}

.filter-input-radio:checked + label::before {
    content: "";

    position: absolute;
    top: -5px;
    left: 0;
    height: 26px;
    width: 26px;
    background: url(../img/radio-on.svg) no-repeat;
}


.filter-input-radio + label {
    cursor: pointer;
}
.radio-controls {
    margin:0;
    padding:0;
    /* padding-top: 16px;
    padding-bottom: 16px; */
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    width:332px;
    border-radius: 20px;
    height: 36px;
}

.radio-controls ul {
    list-style: none;
    display:flex;
    padding:0;
    margin:0;
    height: 36px;
    justify-content: space-between; 
    align-items: center;   
}

.radio-controls li {
    position: relative;
    padding-left: 30px;            
}
.filler-button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #9cb0a4;
    border: 2px solid #ffffff;
}

.filler-button:hover {
    color: #323232;
    background-color: #ffffff;
}

.pagination-list {
    list-style: none;
    display: flex;
}

.pagination-item a {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.pagination-item a:hover, .pagination-item a:focus {
    background-color: #9db1a5;
}

.current a, .current a:hover, .current a:focus, .current a:active {
    color: #323232;
    background-color: #ffffff;
}

.pagination-list-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}