html,
body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    

    background-color: #849d8f;
}
    
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

a {
    color: #ffffff; 
}
 
.form-control input::placeholder,
.form-control textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;    
}

.container li,
.main-navigation li,
.main-footer li {
    list-style: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 18px;
    
    background-color:  #849d8f;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: #333333;

    background-color: #ffffff;
}

.catalog,
.login-form,
.search-form,
.popup-form {
    background-color: #f8f7f4;
}

.site-navigation a {
    text-decoration: none;
}

.catalog-menu a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    text-decoration: none;
}

.catalog-menu .new {
    font-weight: 700;
}

.catalog-menu a:hover {
    background-color: #fbded7;
    
}

.catalog-menu a:active {
    background-color: #f6b5a5;
}

.site-navigation .active,
.current .active {
    color: #ffffff;
    
    background-color: #d07058;
}

.form-control input,
.form-control textarea {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
    border: 0;        
    box-shadow: 0px 0px 0px 1px #b2b2b2;
}

.form-control input:focus,
.form-control textarea:focus,
.form-control input:hover:focus,
.form-control textarea:hover:focus {
    box-shadow: 0px 0px 0px 2px #2e88e4;    
}


.form-control input:hover,
.form-control textarea:hover {
    box-shadow: 0px 0px 0px 2px  #9a9a9a;
}


.small-button {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;

    background-color: #a1b4a9;
    border: none;
}

.small-button:hover {
    color: #323232;

    background-color: #f8f7f4;
}

.help a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
}

.cart {
    /* width: 117px;
    height: 32px; */

    background-color: #f7f6f3;      
}

.cart p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;

    background-color: #a1b4a9;
}

.cart-products {
    width: 539px;
    height: 242px;

    font-size: 13px;
    line-height: 16px;    
    font-weight: 400;
    color: #323232;
    background-color: #f8f7f4;  

    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart-products span {
    opacity: 0.4;
}

.cart-products p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    text-align: right;
}

.working-hours {
    font-size: 14px;
    line-height: 16px;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
}

/*  main class="container"*/

.slide {
    text-align: center;
}

.slide p {
    font-size: 60px;
    line-height:  60.35px;   
}

.slide a {
    font-size: 32px;
    line-height: 44px;  
}

.button {
    font: inherit;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    white-space: nowrap;
    border: 0;

    background-image: linear-gradient(to top, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
}

.button:hover {
    
    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active{
    background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.button-big {
    font: inherit;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button-big:hover {
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button-big:active {
    background-image: linear-gradient(to bottom, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}



.free-raspberry {
    background-image: url("../img/raspberries.jpg");
    background-repeat: no-repeat;
}

.free-chocolate{
    background-image: url("../img/chocolate.jpg");
    background-repeat: no-repeat;
}

.free-raspberry h2,
.free-chocolate h2,
.container h2 {
    font-size: 35px;
    line-height: 41px;
}

.free p {
    font-size: 18px;
    line-height: 22px;
}

/* catalog, hit */

.price {
    font-size: 45px;
    line-height: 45px;
}

.price span {
    font-size: 30px;
    line-height: 45px;
}

.description {
    font-weight: 500;
}

.description:hover,
.description:active,
.breadcrumbs a:hover,
.breadcrumbs a:active {
    color: #ffbc9e;
}

.catalog-list li:hover {
    background-color: rgba(155, 175, 163, 0.4);

}

.catalog-list img {
    border-radius: 50%;
}

.shop {
    background-image: url("../img/waffle.jpg");
    color: #333333;
    font-weight: 400;
}

.shop h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500; 
}

.new-blog {
    background-image: url("../img/strawberry.jpg");
    background-repeat: no-repeat;
    color: #323232;
}

.new-blog a {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.mailing {
    background-image: url("../img/postbox.svg");
    background-repeat: no-repeat;
    background-color: #f8f7f4;
}

.mailing p {
    color: #5a5a5a;
    font-weight: 400;
}

.contacts {
    background-color: #fbfbfb;
}
 .contacts p {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    }

.contacts .contacts-bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
 }

 /* footer */

 .footer-social a {
    text-decoration: none;
    color: #e6ebe9;
 }
 
 .links ul{
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

 .links .provider {
    font-weight: 700;
}

.copyright {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: right;
}
    

.popup h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
}

/* filters */

.filters {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filter-input:disabled + label {
    opacity: 0.4;
}


.filters fieldset {
    border: none;
}

.filter .heading {
    font-weight: 500;
}

.sort {
    color: #ffffff;

    background-color: #a9b9af;
}

.sort:hover {
    color: #323232;
}

.fond {
    background-color: #a9b9af;
}

.filler-button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: #9cb0a4;
    border: 2px solid #ffffff;
}

.filler-button:hover {
    color: #323232;

    background-color: #ffffff;
}

/* .filler-button:active {
    box-shadow: 
} */

/* main catalog */

.breadcrumbs {
    list-style: none;
}

.breadcrumbs li,
.heading {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #9db1a5;
}

.current a,
.current a:hover,
.current a:focus,
.current a:active {
    color: #323232;

    background-color: #ffffff;
}